<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEMPLATE IS WORKING</title>
</head>
<body>
<h1>WELCOME TO THE TEXT ANALYZER . ENTER YOUR TEXT BELOW</h1>
<form action='/analyze' method='get'>
    <textarea name ='text'style='height: 215px; width: 1342px;''></textarea> <br>
    <input type='checkbox' name='remove pucuation'>  Remove Punctuation <br> 
    <input type='checkbox' name='Space remover'>Remove Space <br>
    <input type='checkbox' name='Capitalizer'> Capitalize the first letter  <br>
    <input type='checkbox' name='New line remove'> Remove New Line <br>
    <input type='checkbox' name='Char count'> Couont the No. of the character in the given string <br>
    <button type='submit' > Analyze Text</button>
</form>
</body>

</html>