{% extends 'basic.html' %}

 {%block title%}
 auth & check
 {%endblock%}

 {% block body %}
 {% block home %}<a class="nav-link active" aria-current="page" href="/">Home</a> {%endblock%}
 {% block scrimreg %} <a class="nav-link" aria-current="page" href="/registration">Scrim Registration</a>{%endblock%}
 {% csrf_token %} 

 <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; margin-top: -100px;">
    <div class="card p-4" style="width: 40rem;">
        <h2 class="text-center mb-4">Add New Scrim</h2>

        <!-- Form starts here -->
        <form method="post" action="{% url 'AddData' %}">
            {% csrf_token %}

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Your DC ID</span>
                <input type="text" name="discord_id" class="form-control" placeholder="Discord ID No." aria-label="Username" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-3">
                <input type="text" name="User_Name" class="form-control" placeholder="Name" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                <span class="input-group-text" id="basic-addon2" style="font-weight: bold;">YOUR NAME</span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" style="font-weight: bold;">YOUR TEAM NAME</span>
                <input type="text" name="Team_name" class="form-control" placeholder="Team Name" aria-label="Organization" required>
            </div>

            <div class="mb-3">
              <label for="basic-url" class="form-label">Your Team DC Tags..</label>

            <div class="input-group mb-3" >
                <span class="input-group-text" style="font-weight: bold;">Player 1</span>
                <input type="text" name="Player1" class="form-control" placeholder="Player 1 DC Tag" aria-label="Username">
                <span class="input-group-text" style="font-weight: bold;">Player 2</span>
                <input type="text" name="Player2" class="form-control" placeholder="Player 2 DC Tag" aria-label="Server">
            </div>

            <div class="input-group mb-3" >
                <span class="input-group-text" style="font-weight: bold;">Player 3</span>
                <input type="text" name="Player3" class="form-control" placeholder="Player 3 DC Tag" aria-label="Username">
                <span class="input-group-text" style="font-weight: bold;">Player 4</span>
                <input type="text" name="Player4" class="form-control" placeholder="Player 4 DC Tag" aria-label="Server">
            </div>
            </div>


           

            <div class="input-group">
                <span class="input-group-text" style="font-weight: bold;" id="basic-addon3">DC AUTH ID</span>
                <input type="text" name="AuthID" class="form-control" placeholder="YOUR DC AUTHENTICATION ID" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>  
 
            <button type="submit" class="btn btn-primary btn-sm w-100 mt-3 ml-n3" >Add Scrim</button>

        </form>
        <!-- Form ends here -->
    </div>
</div>


 {%endblock%}