{% extends 'basic.html' %}

{% block title %}
scrims Registration soft
{% endblock %}

{% block body %}
{% block home %}<a class="nav-link active" aria-current="page" href="/home">Home</a> {% endblock %}
{% block scrimreg %} <a class="nav-link" aria-current="page" href="/registration">Scrim Registration</a>{% endblock %}
{% block perfpagae %} <a class="nav-link" aria-current="page" href="/perfmanage">Performance Manage</a>{% endblock %}
{% csrf_token %}
<!-- Centered Accordion -->
{% for item in perfdata %}
{% if forloop.counter <=  9 %}
<div class="container my-2 d-flex justify-content-center">
    <div class="accordion w-100" id="accordionExample" style="max-width: 1000px;">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button {% if forloop.counter != 1 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                    <span class="fw-bold text-dark">{{ item.ScrimDate }}</span>
                </button>
            </h2>

            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Scrim/Tournament</th>
                                <th scope="col">KILLS</th>
                                <th scope="col">T.P</th>
                                <th scope="col">REASONING</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <th scope="row">{{ item.ScrimPosition }}</th>
                                <td>{{ item.ScrimName }}</td>
                                <td>{{ item.Scrimkillpoint }}</td>
                                <td>{{ item.ScrimTotalPoint }}</td>
                                <td>{{ item.ScrimReason }}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
