{% extends 'basic.html' %}

{% block title %}
 Registration Data 
{% endblock %}

{% block body %}


{% block home %}<a class="nav-link" aria-current="page" href="/">Home</a> {%endblock%}
{% block scrimreg %} <a class="nav-link" aria-current="page" href="/registration">Scrim Registration</a>{%endblock%}
{% block perfpagae %} <a class="nav-link " aria-current="page" href="/perfmanage">Performace Manage</a>{%endblock%}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; margin-top: -100px;">
    <div class="card p-4" style="width: 40rem;">
        <h2 class="text-center mb-4">EDIT SCRIMS DATA</h2>
        <H4>{{scrimsData.ScrimsName}}|{{scrimsData.ScrimsTime}}</H4>

        <!-- Form starts here -->
        <form method="post" action="{% url 'UpdateData' %}">
            {% csrf_token %}

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">ID</span>
                <input type="text" name="discord_id" class="form-control" placeholder="Discord ID No." aria-label="Username" aria-describedby="basic-addon1" required value="{{ scrimsData.ScrimsId }}">
            </div>

            <div class="input-group mb-3">
                <input type="text" name="scrim_name" class="form-control" placeholder="Name" aria-label="Recipient's username" aria-describedby="basic-addon2" required value="{{scrimsData.ScrimsName}}">
                <span class="input-group-text" id="basic-addon2" style="font-weight: bold;">Scrim Name</span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" style="font-weight: bold;">ORG NAME</span>
                <input type="text" name="org_name" class="form-control" placeholder="Organization Name" aria-label="Organization" required value="{{scrimsData.ScrimsOrg}}">
            </div>

            <div class="mb-3">
              <label for="basic-url" class="form-label">Your Scrim Registration Time</label>
              <div class="input-group">
                <span class="input-group-text" style="font-weight: bold;" id="basic-addon3">RegistrationTime</span>
                <input type="text" name="registration_time" class="form-control" placeholder="HOUR:MIN:SEC" id="basic-url" aria-describedby="basic-addon3 basic-addon4" value="{{scrimsData.ScrimsRegTime}}">
              </div>  
            </div>
        
            <div class="input-group mb-3" >
                <span class="input-group-text" style="font-weight: bold;">Start Time</span>
              <input type="text" name="start_time" class="form-control" placeholder="HOUR:MIN:SEC" aria-label="Username" value="{{scrimsData.ScrimsTime}}">
              <span class="input-group-text" style="font-weight: bold;">DATE</span>
              <input type="text" name="scrim_date" class="form-control" placeholder="DATE-DD/MM/YY" aria-label="Server" value="{{scrimsData.ScrimsDate}}">
            </div>

            <button type="submit" class="btn btn-primary btn-sm w-100 mt-3 ml-n3" >UPDATE</button>

        </form>
        <!-- Form ends here -->
    </div>
</div>
{% endblock %}
